.btn-container {
  display: flex;
  position: absolute;
  top: calc(100% + 1rem);
  left: calc(50% - 50px);
  justify-content: center;
  width: 100px;
}

.btn-action {
  padding: 0.6rem 1.2rem;
  border: none;
  background-color: var(--color-main);
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s;
  box-shadow: 0 2px 8px 0 #00000044;
}

.btn-action.cancel {
  background-color: #e74c3c;
}

.btn-action:hover {
  transform: scale(1.2);
}

.btn-action:active {
  transform: scale(1);
}

.btn-action:disabled {
  display: none;
}

.hamburger-container {
  position: relative;
  display: none;
}

.hamburger-container > input {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
}

.hamburger > div {
  width: 20px;
  height: 4px;
  margin-bottom: 4px;
  background-color: var(--color-dark);
}

@media (max-width: 800px) {
  .hamburger-container {
    display: block;
  }

  .menu {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 45px;
    flex-direction: column;
    background-color: #fff;
    right: -300px;
    padding: 1rem;
    transition: right 0.2s;
    z-index: 5;
  }

  .menu.active {
    right: 0;
  }
}
