.btn-container {
  display: flex;
  position: absolute;
  top: calc(100% + 1rem);
  left: calc(50% - 50px);
  justify-content: center;
  width: 100px;
}

.btn-action {
  padding: 0.6rem 1.2rem;
  border: none;
  background-color: var(--color-main);
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s;
  box-shadow: 0 2px 8px 0 #00000044;
}

.btn-action.cancel {
  background-color: #e74c3c;
}

.btn-action:hover {
  transform: scale(1.2);
}

.btn-action:active {
  transform: scale(1);
}

.btn-action:disabled {
  display: none;
}
